*{
font-family: Arial, Verdana, Helvetica;
color: black;
font-size: 12px;
border: 1px gray;
}

h1 {
	font-size: 20px;
}
table {
	border-style: solid;
}

td {
	padding: 10px;
}

tr {
background-color: #f4f5f7;
}

th {
font-weight: bold;
}

#name, #min, #max, #avg {
	border-style: solid;
	border-color: #cacdd1;
	background-color: #e8ebef;
}

.input {
	font-weight: bold;
}

*{

/*background: <img src="image/07-background-cookies.jpg">*/
font-family: 'Droid Sans', sans-serif;
}

#navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  float: left;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 10px 50px 10px 50px;
  text-decoration: none;
}

.logo {
  display: block;
  horizontal-align: top;
  text-align: center;
  width: 800px;
  font-family: 'Sacramento', cursive;
  font-size: 35px;
  padding: 10px 80px 10px 80px;
}

.top {
  display: inline-block;
  horizontal-align: top;
  text-align: center;
  width: 100%;
}

.footer {
  float:left;
  position:relative;
  text-align: center;
  font-size: 10px;
  margin:100px 0px 20px 0px;
  padding: 10px;
  width: 99%;
}
