*{
font-family: Arial, Verdana, Helvetica;
color: black;
font-size: 12px;
border: 1px gray;
}

h1 {
	font-size: 20px;
}
table {
	border-style: solid;
}

td {
	padding: 15px;
}

tr {
background-color: #f4f5f7;
}

th {
font-weight: bold;
}
